@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --text-font-family: "Roboto", sans-serif;
  --text-color: #757575;
  --link-active-color: #2196f3;
  --link-color: #212121;
  --background-color: #ffffff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--text-font-family);
  color: var(--text-color);
}
h1,
h2,
h4 {
  font-family: var(--text-font-family);
  font-weight: 700;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section > div {
  padding: 94px 215px 94px 215px;
}
.global-header-content {
  display: flex;
  padding: 32px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-list {
  margin-left: 100px;
  display: flex;
}
.nav-logo-text {
  font-family: "Raleway";
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
}

.nav-links-item:not(:last-child) {
  margin-right: 60px;
}

.nav-contats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-contats-links {
  font-weight: 500;
  color: #757575;
  padding: 32px 0px 31px 0px;
  display: block;
}
.nav-contats-links:hover,
.nav-contats-links:focus {
  color: #2196f3;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links {
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  padding: 32px 0px 31px 0px;
  display: block;
  position: relative;
}
.nav-links:hover::after,
.nav-links:focus::after {
  display: inline;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links::after {
  display: none;
  content: " ";
  height: 4px;
  background: #2196f3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 2px;
}

.nav-links:hover,
.nav-links:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links-current {
  color: #2196f3;
}

.nav-container-item:not(:last-child) {
  margin-right: 50px;
}
.nav-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links-item svg {
  width: 16px;
  height: 12px;
}
.nav-links-item a {
  margin-left: 10px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.hero {
  padding: 200px 0 200px 0px;
  background-color: #2f303a;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Bg_hero.jpg");
  background-size: cover;
}
.hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-container-text {
  color: white;
  font-weight: 900;
  font-size: 44px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  height: 127.2px;
  margin-bottom: 40px;
  text-align: center;
}
.hero-container-button {
  background-color: #2196f3;
  padding: 10px 20px 10px 20px;
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-container-button:hover,
.hero-container-button:focus {
  background-color: #188ce8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.card {
  background: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-portfolio {
  background: #ffffff;
  padding-bottom: 30px;
}
.card-image {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  text-align: center;
  top: 100%;
  overflow: hidden;
}
.overlay p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 322px;
  height: 140px;
  left: 239px;
  top: 325px;
  text-align: left;
  padding: 63px 24px 91px 24px;
}
.card-portfolio:hover .overlay {
  top: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:hover .card-portfolio:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-article svg {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}
.icons-list {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  background: #ffffff;
}
.icons-list .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  gap: 10px;
}
.icons-list svg:hover,
.icons-list svg:focus {
  background: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-details .icons-list {
  background: transparent;
}

.footer-details .icons-list .icon {
  justify-content: space-between;
}
.footer-details .icons-list .icon:hover,
.footer-details .icons-list .icon:focus {
  background: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list .icon svg {
  height: 20px;
  color: #afb1b8;
}
.article {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.article h4,
.find-us-on h4 {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.article p {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  margin-right: 30px;
}
.what-we-do {
  margin-top: 94px;
}
.what-we-do ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.what-we-do li {
  position: relative;
}

.what-we-do li > .label {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16px;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.what-we-do h2,
.our-team h2,
.regular-customers h2 {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team h2,
.regular-customers h2 {
  margin-top: 94px;
}
.our-team {
  display: flex;
  margin-top: 94px;
  background: #f5f4fa;
}
.our-team ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.our-team li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
.our-team li em {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.regular-customers {
  padding-bottom: 94px;
}
.icons-clients {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.icons-clients li {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-clients svg {
  fill: #afb1b8;
}

.icons-clients:hover,
.icons-clients:focus svg {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.details {
  background: #2f303a;
}
.details .webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 215px;
  color: #000;
  text-decoration: none;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.adress a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.adress a:hover,
.adress a:focus {
  color: var(--link-active-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wb {
  margin-top: 60px;
}

.find-us-on h4 {
  color: #ffffff;
}
.find-us-on {
  margin-left: 156px;
  margin-top: 75px;
}
.footer-details {
  display: flex;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity var(--transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.backdrop-content {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-group + .form-group {
  margin-top: 10px;
}
.form-group > *:nth-child(2) {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-group > *:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.textarea {
  width: 448px;
  height: 120px;
  resize: none;
}
.form-checkbox {
  flex-direction: row;
  gap: 8px;
}
.form-checkbox > *:nth-child(2) {
  border: none;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.btn-submit {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
  border: none;
  max-width: 200px;
  cursor: pointer;
}
.btn-submit:hover,
.btn-submit:focus {
  background: #064579;
}
.form-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.close-btn {
  position: absolute;
  right: 10px;
  top: 9px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons button {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: 8px;
}
.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-left: 542px;
  margin-right: 542px;
  margin-top: 94px;
  margin-bottom: 20px;
  padding-inline-start: 0px;
}
.portfolio-buttons button:hover,
.portfolio-buttons button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images {
  display: flex;
  margin-top: 56px;
}
.images ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding-inline-start: 0;
  padding-bottom: 94px;
  gap: 30px;
}

.images li {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.images li em {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
