@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import "./utils/variables";
@import "./utils/base";
@import "./utils/container";

.section > div {
  padding: 94px 215px 94px 215px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  margin-left: 100px;
  display: flex;
}
.nav__logo-text {
  font-family: "Raleway";
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
}

.nav-links__item:not(:last-child) {
  margin-right: 60px;
}

.nav-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-contacts__links {
  font-weight: 500;
  color: #757575;
  padding: 32px 0px 31px 0px;
  display: block;
}
.nav-contacts__links:hover,
.nav-contacts__links:focus {
  color: #2196f3;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links__link {
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  padding: 32px 0px 31px 0px;
  position: relative;
}
.nav-links__link:hover::after,
.nav-links__link:focus::after {
  display: inline;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links__link::after {
  display: none;
  content: " ";
  height: 4px;
  background: #2196f3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 2px;
}

.nav-links__link:hover,
.nav-links__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links___link--current {
  color: #2196f3;
}

.nav-links__item:not(:last-child) {
  margin-right: 50px;
}
.nav-links__item,
.nav-contacts__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-contacts__icon {
  width: 16px;
  height: 12px;
}
.nav-contacts__links {
  margin-left: 10px;
  text-decoration: none;
  color: #757575;
}

.nav-contacts,
.nav-links {
  list-style-type: none;
}
.hero {
  padding: 200px 0 200px 0px;
  background-color: #2f303a;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Bg_hero.jpg");
  background-size: cover;
}
.hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-container__text {
  color: white;
  font-weight: 900;
  font-size: 44px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  height: 127.2px;
  margin-bottom: 40px;
  text-align: center;
}
.hero-container__button {
  background-color: #2196f3;
  padding: 10px 20px 10px 20px;
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-container__button:hover,
.hero-container__button:focus {
  background-color: #188ce8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.team__card {
  background: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-portfolio {
  background: #ffffff;
  padding-bottom: 30px;
}
.card-image {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  text-align: center;
  top: 100%;
  overflow: hidden;
}
.overlay p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 322px;
  height: 140px;
  left: 239px;
  top: 325px;
  text-align: left;
  padding: 63px 24px 91px 24px;
}
.card-portfolio:hover .overlay {
  top: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:hover .card-portfolio:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantage__icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}
.social {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  background: #ffffff;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  gap: 10px;
}

.social__link--background {
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.social__link:hover,
.social__link:focus {
  background: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.footer-details .icons-list {
  background: transparent;
}

.footer-details .icons-list .icon {
  justify-content: space-between;
}
.footer-details .icons-list .icon:hover,
.footer-details .icons-list .icon:focus {
  background: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  height: 20px;
  color: #afb1b8;
}
.article {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.advantage__heading,
.footer-header,
.subscribe__header {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantage__text {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  margin-right: 30px;
}
.what-we-do {
  margin-top: 94px;
}
.do {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.do__item {
  position: relative;
}

.do__label {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16px;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.section-heading {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-heading {
  margin-top: 94px;
}
.our-team {
  display: flex;
  margin-top: 94px;
  background: #f5f4fa;
}
.team {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.team__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
.team__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.regular-customers {
  padding-bottom: 94px;
}
.clients {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__link {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: #2196f3;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background: #2f303a;
}
.footer .webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 215px;
  color: #000;
  text-decoration: none;
}

.footer-adress__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-adress__link:hover,
.footer-adress__link:focus {
  color: var(--link-active-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.wb {
  margin-top: 60px;
}*/

.footer-header,
.subscribe__header {
  color: #ffffff;
}
.find-us-on {
  margin-left: 156px;
  margin-top: 75px;
}
.subscribe {
  margin-left: 156px;
  margin-top: 72px;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.subscribe__input {
  display: flex;
  padding-left: 16px;
  height: 50px;
  width: 358px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn {
  width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  display: inline-flex;
  gap: 25px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}
.subscribe__icon {
  height: 24px;
  width: 24px;
}
.footer__details {
  display: flex;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity var(--transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.backdrop-content {
  width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;
}
.form .form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
.form-group + .form-group {
  margin-top: 10px;
}
.form-group > *:nth-child(2) {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  padding-left: 40px;
}

.form-group > *:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}
.form-group .input-icon {
  height: 20px;
  width: 20px;
  color: #212121;
  top: 50%;
  left: 15px;
  position: absolute;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group .input-icon:focus,
.form-group .input-icon:hover {
  color: #2196f3;
}
.form-group .textarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding-left: 12px;
}
.form-group .textarea:hover,
.form-group .textarea:focus,
.form-group input:hover,
.form-group input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.form-group:focus-within .input-icon {
  color: #2196f3;
}
.form-group:focus-within .input,
.form-group:focus-within .textarea {
  border-color: #2196f3;
  color: #2196f3;
}
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.form-checkbox .checkmark {
  appearance: none;
  outline: none;
}
.form-checkbox .icon {
  --color1: #fff;
  --color2: #fff;

  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox .checkmark:checked + .icon {
  border: none;
  --color1: #2196f3;
  --color2: #fff;
}
.terms-cond-link {
  color: #2196f3;
}
.terms-cond-link:hover,
.terms-cond-link:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #064579;
}

.btn-submit {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
  border: none;
  max-width: 200px;
  cursor: pointer;
}
.btn-submit:hover,
.btn-submit:focus {
  background: #064579;
}
.form-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.close-btn:hover,
.close-btn:focus {
  color: #2196f3;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 9px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons button {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: 8px;
}
.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-left: 542px;
  margin-right: 542px;
  margin-top: 94px;
  margin-bottom: 20px;
  padding-inline-start: 0px;
}
.portfolio-buttons button:hover,
.portfolio-buttons button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images {
  display: flex;
  margin-top: 56px;
}
.images ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding-inline-start: 0;
  padding-bottom: 94px;
  gap: 30px;
}

.images li {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.images li em {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
